* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: #99f;
  text-decoration: none;
}

input {
  border: 1px solid #aaa;
  border-radius: 3px;
  outline: 0;
}

input:focus {
  border: 1px solid #99f;
  box-shadow: 0 0 5px #99f;
}

.container {
  width: 95%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right;
}

.navbar {
  padding-top: 1em;
}
